{{ define "main" }}
  <article class="fancy h-full w-content h-full mx-auto heading-center link-headings text-mono-950 dark:text-mono-50">  
  <div class="subtle-land-anime">
  <div class="max-w-32 mx-auto squiggle logo-draw">
    {{partial "logo.html"}}
  </div>
  <h1 class="text-center mb-0 title ">This is a simple blog</h1>
  <h2 class="text-center squiggle text-2xl mt-0 text-mono-400 dark:text-mono-400">It wants to not suck.</h2>
  </div>
  {{ .Content }}
  <span class="signature-draw">
    {{partial "yourstruly.html"}}
  </span>
  <div class="block  text-mono-950  hover:squiggle signature-draw stroke-mono-950">
    {{partial "signature.html"}}
  </div> 
    <p>Thank you for your time</p>

</article>
{{ end }}

<script>
const signature = document.querySelector(".signature-draw");
if (signature != null) {
  let svg = signature.querySelectorAll('svg');
  for (s of svg) {
    let paths = s.querySelectorAll(".calcPath")
    ps.push(paths)
    for (p of paths) {
      var len = Math.round(p.getTotalLength());
      p.style.strokeDasharray = len;
      p.style.strokeDashoffset = len;
    }





  }
  anime({
    targets: paths,
    strokeDashoffset: [anime.setDashoffset, 0],
    easing: 'easeInOutSine',
    duration: 1500,
    delay: function (el, i) { return i * 1500 },
    direction: "forward",
  })


}

</script>




