{{ define "main" }}
<article class="link-headings max-w-content font-body mx-auto">
  <h1 class="text-5xl title font-display font-bold squiggle">{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

<div class=" py-2 ">
  <h1 class="font-display text-2xl font-bold">Table of contents</h1>
  <hr class="my-2">
  <div class="px-2">
  {{ .Page.TableOfContents }}
  </div>
</div>

{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

  <hr>

  {{ .Content }}
</article>
{{ end }}
<span class="signature-draw">
    {{partial "yourstruly.html"}}
  </span>

<div class="block  text-mono-950  hover:squiggle signature-draw stroke-mono-950">
    {{partial "signature.html"}}
  </div> 


<script>
const signature = document.querySelector(".signature-draw");
if (signature != null) {
  let svg = signature.querySelectorAll('svg');
  for (s of svg) {
    let paths = s.querySelectorAll(".calcPath")
    ps.push(paths)
    for (p of paths) {
      var len = Math.round(p.getTotalLength());
      p.style.strokeDasharray = len;
      p.style.strokeDashoffset = len;
    }





  }
  anime({
    targets: paths,
    strokeDashoffset: [anime.setDashoffset, 0],
    easing: 'easeInOutSine',
    duration: 1500,
    delay: function (el, i) { return i * 1500 },
    direction: "forward",
  })


}

</script>




