{{ define "main" }}
<article class="link-headings max-w-content font-body mx-auto">
  <h1 class="text-5xl title font-display font-bold squiggle">{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

<div class=" py-2 ">
  <h1 class="font-display text-2xl font-bold">Table of contents</h1>
  <hr class="my-2">
  <div class="px-2">
  {{ .Page.TableOfContents }}
  </div>
</div>

{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

  <hr>

  {{ .Content }}
</article>
{{ end }}
