{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <div id="PostTaxonomy">
    <p class="m-0 text-sm font-bold">Post is tagged with:</p>
    <ul class="flex flex-row text-sm m-0 gap-2 ">
      {{- range . }}
        <li class="list-none block"><a class="text-mono-400 dark:text-mono-600 before:content-['#'] hover:before:text-primary-500 " href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
  </div>
{{- end }}
