<label  class="relative group hover:cursor-pointer font-serif text-xl w-6 h-6">
  <input class="hidden"  type="checkbox" name="darkToggle" id="darkToggle"/>
  <i data-lucide="moon" id="moonIcon" class="pointer-events-none w-full absolute text-mono-800 fill-transparent dark:text-mono-200 group-hover:fill-primary-300 group-hover:dark:fill-primary-900 transition-fill"></i>
  <i data-lucide="circle" id="sunIcon" class="w-full absolute text-mono-800 fill-transparent dark:text-mono-200 group-hover:fill-primary-400 group-hover:dark:fill-primary-600 transition-fill"></i>
</label>

<script>
const themeToggle = document.querySelector('#darkToggle');

lucide.createIcons();

const moonIcon = document.querySelector("#moonIcon");
const sunIcon= document.querySelector("#sunIcon")

if (localStorage.getItem("theme") != null) {
  theme = localStorage.getItem("theme");
} else {
  if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
    theme = "dark"
    localStorage.setItem("theme", "dark")
  } else {
    theme = "light"
    localStorage.setItem("theme", "light")
  }
}

if (theme == "dark") {
  document.documentElement.classList.add("dark");
  themeToggle.checked = true
  sunIcon.classList.remove("hidden")
  moonIcon.classList.add("hidden")
} else {
  moonIcon.classList.remove("hidden")
  sunIcon.classList.add("hidden")
  themeToggle.checked = false
}

function from_checked(val) {
  if(val) {
    sunIcon.classList.remove("hidden")
    moonIcon.classList.add("hidden")
    document.documentElement.classList.add("dark")
    localStorage.setItem("theme", "dark")

  }
  else {
    moonIcon.classList.remove("hidden")
    sunIcon.classList.add("hidden")
    document.documentElement.classList.remove("dark")
    localStorage.setItem("theme", "light")
  }
}

themeToggle.addEventListener("click", (ev) => {
  from_checked(ev.target.checked)  
})







</script>




